*.o
*.a
*.dll
*.jar
*.class
*.log
*~
*.make
*.cmake
*.exe
*.pyc
*.obj
*.so
bin
build
TAGS
#*
*#
*.stackdump
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt

.classpath
.project
.settings

## .NET
Debug
*.sdf
